* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}


.container {
    display: flex;
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: gray;
    border-radius: 5px;
    line-height: 2.0;
}
.choices {
    list-style-type: none;
}

.quiz {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 200%;

}


